# Ignore the virtual environment directory
venv/
previous/
__pycache__/

# Ignore JSON files
*.json

# Ignore XML files
*.xml

# Ignore CSV files
*.csv

# Ignore TXT files
*.txt

# Ignore database file
*.db 

# Ignore log files
*.log